@using System.Threading
@using System.Web.Optimization
@using Abp.Timing
@using Abp.Web.Mvc.Extensions
<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8" />
    <title>J & F Group</title>
    <meta name="description" content="Joinery, Interior Design, Fit out works, Residential, Commercial">
    <meta name="keywords" content="joinery, interior design, fit out works, residential, commercial">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <link rel="profile" href="" />
    <link rel="pingback" href="" />
    <!--[if gte IE 9]>
        <style type="text/css">
            .gradient {
                 filter: none;
            }
        </style>
    <![endif]-->
    <link href='~/Content/css/css.css?family=Raleway:100,200,300,400,600,700,800,400italic|Open+Sans:100,200,300,400,600,700,800,400italic|Raleway:100,200,300,400,600,700,800,400italic|Advent+Pro:100,200,300,400,600,700,800,400italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="alternate" type="application/rss+xml" title="" href="" />
    <link rel="alternate" type="application/rss+xml" title="" href="" />
    <link rel="alternate" type="application/rss+xml" title="" href="" />

    <link rel='stylesheet' id='flexslider-css' href='~/Content/css/flexslider.css' type='text/css' media='all' />
    <link rel='stylesheet' id='owl-carousel-css' href='~/Content/css/owl.carousel.css' type='text/css' media='all' />
    <link rel='stylesheet' id='owl-theme-css' href='~/Content/css/owl.theme.css' type='text/css' media='all' />
    <link rel='stylesheet' id='font-awesome-css' href='~/Content/css/font-awesome.min.css' type='text/css' media='screen' />
    <link rel='stylesheet' id='cherry-plugin-css' href='~/Content/css/cherry-plugin.css' type='text/css' media='all' />
    <link rel='stylesheet' id='layerslider-css' href='~/Content/css/layerslider.css' type='text/css' media='all' />
    <link rel='stylesheet' id='ls-google-fonts-css' href='~/Content/css/css2.css?family=Lato:100,300,regular,700,900%7COpen+Sans:300%7CIndie+Flower:regular%7COswald:300,regular,700&#038;subset=latin%2Clatin-ext' type='text/css' media='all' />
    <link rel='stylesheet' id='cherry-lazy-load-css' href='~/Content/css/lazy-load.css' type='text/css' media='all' />
    <link rel='stylesheet' id='cherry-parallax-css' href='~/Content/css/parallax.css' type='text/css' media='all' />
    <link rel='stylesheet' id='contact-form-7-css' href='~/Content/css/styles.css' type='text/css' media='all' />
    <link rel='stylesheet' id='sb_instagram_styles-css' href='~/Content/css/sb-instagram.css' type='text/css' media='all' />
    <link rel='stylesheet' id='sb_instagram_icons-css' href='~/Content/css/font-awesome.min2.css?1' type='text/css' media='all' />
    <link rel='stylesheet' id='qode-font-awesome-css' href='~/Content/css/font-awesome.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='stylesheet-css' href='~/Content/css/stylesheet.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='style_dynamic-css' href='~/Content/css/style_dynamic.css' type='text/css' media='all' />
    <link rel='stylesheet' id='responsive-css' href='~/Content/css/responsive.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='js_composer_front-css' href='~/Content/css/js_composer.css' type='text/css' media='all' />
    <link rel='stylesheet' id='mpce-theme-css' href='~/Content/css/theme.css' type='text/css' media='all' />
    <link rel='stylesheet' id='mpce-bootstrap-grid-css' href='~/Content/css/bootstrap-grid.min.css' type='text/css' media='all' />

    <script type='text/javascript' src='~/Content/js/greensock.js'></script>
    <script type='text/javascript' src='~/Content/js/jquery.js'></script>
    <script type='text/javascript' src='~/Content/js/jquery-migrate.min.js'></script>
    <script type='text/javascript' src='~/Content/js/layerslider.kreaturamedia.jquery.js'></script>
    <script type='text/javascript' src='~/Content/js/layerslider.transitions.js'></script>
    <script type='text/javascript' src='~/Content/js/jquery.easing.1.3.js'></script>
    <script type='text/javascript' src='~/Content/js/jquery.elastislide.js'></script>

    <script type="text/javascript">
        function brandfolder_loadScript(src, callback) {
            var s, r, t;
            r = false;
            s = document.createElement('script');
            s.type = 'text/javascript';
            s.src = src;
            s.onload = s.onreadystatechange = function () {
                //console.log( this.readyState ); //uncomment this line to see which ready states are called.
                if (!r && (!this.readyState || this.readyState == 'complete')) {
                    r = true;
                    callback();
                }
            };
            t = document.getElementsByTagName('script')[0];
            t.parentNode.insertBefore(s, t);
        }

        function brandfolder_null() {
        }

        function brandfolder_resize() {
            jQuery("#brandfolder-embed-iframe").iframeHeight();
        }

        jQuery(document).ready(
            function () {
                if (jQuery(".brandfolder").length > 0) {
                    brandfolder_loadScript("//d2sdf28wg0skh3.cloudfront.net/bf.min.js", brandfolder_null);
                }

                if (jQuery("#brandfolder-embed-iframe").length > 0) {
                    brandfolder_loadScript("~/Content/js/iframeheight.js", brandfolder_resize);
                }
            });

    </script>



    <meta name="generator" content="Powered by Visual Composer - drag and drop page builder for WordPress." />
    <!--[if IE 8]><link rel="stylesheet" type="text/css" href="~/Content/css/vc-ie8.css" media="screen"><![endif]-->
    <noscript>
        <style>
            .wpb_animate_when_almost_visible {
                opacity: 1;
            }
        </style>
    </noscript>
    @*@Styles.Render("~/Bundles/vendor/css")
        @Scripts.Render("~/Bundles/vendor/js/top")*@
    @RenderSection("styles", required: false)
    <script type="text/javascript">
        /* 虚拟目录名称 */
        var  virtualDirName = '@ApplicationPath';
    </script>

</head>
<body class="home page page-id-14468 page-template page-template-full_width page-template-full_width-php ajax_fade page_not_loaded  qode-title-hidden qode-theme-ver-6.6 wpb-js-composer js-comp-ver-4.4.3 vc_responsive">

    <div class="ajax_loader"><div class="ajax_loader_1"><div class="pulse"></div></div></div>
    <div class="wrapper">
        <div class="wrapper_inner">
            <!-- Google Analytics start -->
            <script>
                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', '258-891-6529']);
                _gaq.push(['_trackPageview']);

                (function () {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();
            </script>
            <!-- Google Analytics end -->
            
            @Html.Partial("_TopBar")

            <a id='back_to_top' href='#'>
                <span class="fa-stack">
                    <i class="fa fa-arrow-up" style=""></i>
                </span>
            </a>
            <div class="content  has_slider">

                <div class="content_inner  ">
                    <script>
                        var page_scroll_amount_for_sticky = 50;
                    </script>
                    @RenderBody()
                    <div class="content_bottom">
                    </div>

                </div>
            </div>


            @Html.Partial("_Foot")
    </div>
    </div>
   
    <link rel='stylesheet' id='prettyphoto-css' href='~/Content/css/prettyPhoto.css' type='text/css' media='screen' />
    <script type='text/javascript' src='~/Content/js/cherry.lazy-load.js'></script>
    <script type='text/javascript' src='~/Content/js/device.min.js'></script>
    <script type='text/javascript' src='~/Content/js/jquery.mousewheel.min.js'></script>
    <script type='text/javascript' src='~/Content/js/jquery.simplr.smoothscroll.min.js'></script>
    <script type='text/javascript' src='~/Content/js/cherry.parallax.js'></script>
    <script type='text/javascript' src='~/Content/js/jquery.form.min.js'></script>
    <script type='text/javascript'>
                        /* <![CDATA[ */
                        var _wpcf7 = { "loaderUrl": "~/Content/images/ajax-loader.gif", "sending": "Sending ..." };
/* ]]> */
    </script>
    <script type='text/javascript' src='~/Content/js/scripts.js'></script>

    <script type='text/javascript' src='~/Content/js/qode-like.js'></script>
    <script type='text/javascript' src='~/Content/js/plugins.js'></script>
    <script type='text/javascript' src='~/Content/js/jquery.carouFredSel-6.2.1.min.js'></script>
    <script type='text/javascript' src='~/Content/js/lemmon-slider.min.js'></script>
    <script type='text/javascript' src='~/Content/js/jquery.fullPage.min.js'></script>
    <script type='text/javascript' src='~/Content/js/jquery.touchSwipe.min.js'></script>
    <script type='text/javascript' src='~/Content/js/isotope.pkgd.min.js'></script>
    <script type='text/javascript' src='~/Content/js/TweenLite.min.js'></script>
    <script type='text/javascript' src='~/Content/js/ScrollToPlugin.min.js'></script>
    <script type='text/javascript' src='~/Content/js/smoothPageScroll.js'></script>

    <script type='text/javascript' src='~/Content/js/default_dynamic.php.js'></script>
    <script type='text/javascript' src='~/Content/js/default.min.js'></script>
    <script type='text/javascript' src='~/Content/js/custom_js.php.js'></script>
    <script type='text/javascript' src='~/Content/js/comment-reply.min.js'></script>
    <script type='text/javascript' src='~/Content/js/ajax.min.js'></script>
    <script type='text/javascript' src='~/Content/js/js_composer_front.js'></script>
    <script type='text/javascript' src='~/Content/js/jquery.flexslider-min.js'></script>
    <script type='text/javascript' src='~/Content/js/cherry-plugin.js'></script>
    <script type='text/javascript' src='~/Content/js/jquery.prettyPhoto.js'></script>
    <script src="~/js/base.js"></script>
    <!-- View specific scripts -->
    @RenderSection("scripts", required: false)
</body>
</html>




   


   

