<header class=" scroll_header_top_area  stick scrolled_not_transparent page_header">
    <div class="header_inner clearfix">

        <div class="header_top_bottom_holder">
            <div class="header_bottom clearfix" style=''>
                <div class="container">
                    <div class="container_inner clearfix">
                        <div class="header_inner_left">
                            <div class="mobile_menu_button"><span><i class="fa fa-bars"></i></span></div>
                            <div class="logo_wrapper">
                                <div class="q_logo">
                                    <a href="@Url.Action("Index","Home")">
                                        <img class="sticky" src="@Url.Content("~/Content/images/StickyUDC.png")" alt="Logo" />
                                        <img class="normal" src="@Url.Content("~/Content/images/udc.png")" alt="Logo" />
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="header_inner_right">
                            <div class="side_menu_button_wrapper right">
                                <div class="side_menu_button">
                                </div>
                            </div>
                        </div>
                        <nav class="main_menu drop_down right">
                            <ul id="menu-top_menu" class="">
                                <li id="nav-menu-item-14759" class="menu-item menu-item-type-post_type menu-item-object-page  narrow"><a href="@Url.Action("Index","Home")" class=""><i class="menu_icon fa blank"></i><span>Home</span><span class="plus"></span></a></li>
                                <li id="nav-menu-item-16090" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children  has_sub narrow">
                                    <a href="@Url.Action("Index","About")" class=""><i class="menu_icon fa blank"></i><span>WHO WE ARE</span><span class="plus"></span></a>

                                </li>

                                <li id="nav-menu-item-16087" class="menu-item menu-item-type-post_type menu-item-object-page  narrow"><a href="@Url.Action("Index","Services")" class=""><i class="menu_icon fa blank"></i><span>WHAT WE DO</span><span class="plus"></span></a></li>

                                <li id="nav-menu-item-16087" class="menu-item menu-item-type-post_type menu-item-object-page  narrow"><a href="@Url.Action("List","Gallery")" class=""><i class="menu_icon fa blank"></i><span>Our Projects</span><span class="plus"></span></a></li>

                                <li id="nav-menu-item-14760" class="menu-item menu-item-type-post_type menu-item-object-page  narrow"><a href="@Url.Action("Index","Contract")" class=""><i class="menu_icon fa blank"></i><span>Find Us</span><span class="plus"></span></a></li>
                            </ul>
                        </nav>

                        <nav class="mobile_menu">
                            <ul id="menu-top_menu-1" class="">

                                <li id="mobile-menu-item-14759" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="@Url.Action("Index","Home")" class=""><span>Home</span></a><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></li>

                                <li id="mobile-menu-item-16090" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children  has_sub">
                                    <a href="@Url.Action("Index","About")" class=" current "><span>WHO WE ARE</span></a><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span>

                                </li>


                                <li id="mobile-menu-item-16086" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="@Url.Action("Index","Services")" class=""><span>WHAT WE DO</span></a><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></li>

                                <li id="mobile-menu-item-16087" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="@Url.Action("List","Gallery")" class=""><span>Our Projects</span></a><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></li>

                                <li id="mobile-menu-item-14760" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="@Url.Action("Index","Contract")" class=""><span>Find Us</span></a><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></li>

                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>