
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8" />

    <title>WHAT WE DO</title>


    <meta name="description" content="Services">
    <meta name="keywords" content="joinery, interior design, fit out works, residential, commercial">

    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">

    <link rel="profile" href="" />
    <link rel="pingback" href="" />
    <link rel="shortcut icon" type="image/x-icon" href="http://udcbelhasa.com/images/favicon.ico">
    <link rel="apple-touch-icon" href="http://udcbelhasa.com/images/favicon.ico" />
    <!--[if gte IE 9]>
        <style type="text/css">
            .gradient {
                 filter: none;
            }
        </style>
    <![endif]-->

    <link href='~/Content/css/css.css?family=Raleway:100,200,300,400,600,700,800,400italic|Open+Sans:100,200,300,400,600,700,800,400italic|Raleway:100,200,300,400,600,700,800,400italic|Advent+Pro:100,200,300,400,600,700,800,400italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <link rel='stylesheet' id='flexslider-css' href='~/Content/css/flexslider.css' type='text/css' media='all' />
    <link rel='stylesheet' id='owl-carousel-css' href='~/Content/css/owl.carousel.css' type='text/css' media='all' />
    <link rel='stylesheet' id='owl-theme-css' href='~/Content/css/owl.theme.css' type='text/css' media='all' />
    <link rel='stylesheet' id='font-awesome-css' href='~/Content/css/font-awesome.min.css' type='text/css' media='screen' />
    <link rel='stylesheet' id='cherry-plugin-css' href='~/Content/css/cherry-plugin.css' type='text/css' media='all' />
    <link rel='stylesheet' id='layerslider-css' href='~/Content/css/layerslider.css' type='text/css' media='all' />
    <link rel='stylesheet' id='ls-google-fonts-css' href='~/Content/css/css2.css?family=Lato:100,300,regular,700,900%7COpen+Sans:300%7CIndie+Flower:regular%7COswald:300,regular,700&#038;subset=latin%2Clatin-ext' type='text/css' media='all' />
    <link rel='stylesheet' id='cherry-lazy-load-css' href='~/Content/css/lazy-load.css' type='text/css' media='all' />
    <link rel='stylesheet' id='cherry-parallax-css' href='~/Content/css/parallax.css' type='text/css' media='all' />
    <link rel='stylesheet' id='contact-form-7-css' href='~/Content/css/styles.css' type='text/css' media='all' />
    <link rel='stylesheet' id='sb_instagram_styles-css' href='~/Content/css/sb-instagram.css' type='text/css' media='all' />
    <link rel='stylesheet' id='sb_instagram_icons-css' href='~/Content/css/font-awesome.min.css?1' type='text/css' media='all' />
    <link rel='stylesheet' id='default_style-css' href='~/Content/css/style1.css' type='text/css' media='all' />
    <link rel='stylesheet' id='qode-font-awesome-css' href='~/Content/css/font-awesome.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='stylesheet-css' href='~/Content/css/stylesheet.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='style_dynamic-css' href='~/Content/css/style_dynamic.css' type='text/css' media='all' />
    <link rel='stylesheet' id='responsive-css' href='~/Content/css/responsive.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='js_composer_front-css' href='~/Content/css/js_composer.css' type='text/css' media='all' />
    <link rel='stylesheet' id='mpce-theme-css' href='~/Content/css/theme.css' type='text/css' media='all' />
    <link rel='stylesheet' id='mpce-bootstrap-grid-css' href='~/Content/css/bootstrap-grid.min.css' type='text/css' media='all' />

    <script type='text/javascript' src='~/Content/js/greensock.js'></script>
    <script type='text/javascript' src='~/Content/js/jquery.js'></script>
    <script type='text/javascript' src='~/Content/js/jquery-migrate.min.js'></script>
    <script type='text/javascript' src='~/Content/js/layerslider.kreaturamedia.jquery.js'></script>
    <script type='text/javascript' src='~/Content/js/layerslider.transitions.js'></script>
    <script type='text/javascript' src='~/Content/js/jquery.easing.1.3.js'></script>
    <script type='text/javascript' src='~/Content/js/jquery.elastislide.js'></script>


    <style>
        *[class^=bf], *[class^=bf]:before, *[class^=bf]:after {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

        .bf-person, .bf-logo, .bf-image, .bf-document, .bf-press {
            display: inline-block;
            margin: 10px auto 20px;
            padding: 10px;
            margin: 10px;
            width: 224px;
            border: 2px solid transparent;
        }

            .bf-person:hover, .bf-logo:hover, .bf-image:hover, .bf-document:hover, .bf-press:hover {
                border-color: #eee;
            }

        .bf-element-link {
            text-decoration: none;
        }

            .bf-element-link:hover {
                text-decoration: none;
            }

        .bf-person-head {
            margin: 0 0 10px 0;
        }

            .bf-person-head h1, .bf-person-head h3 {
                text-decoration: none;
            }

        .bf-person-name, .bf-logo-name, .bf-image-name, .bf-document-name, .bf-press-name {
            overflow-x: hidden;
            overflow-y: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 20px;
            margin: 0 0 10px;
        }

        .bf-person-title {
            overflow-x: hidden;
            overflow-y: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 14px;
            margin-bottom: 0px;
        }

        .bf-person-image {
            height: 200px;
            width: 200px;
            background-position: center center;
            background-repeat: no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        .bf-person-links {
            margin: 10px auto;
            height: 30px;
        }

        .bf-link-icon {
            height: 30px;
            width: 30px;
            margin-right: 5px;
            float: left;
        }

   

        .bf-brandfolder-link {
            font-size: 10px;
        }

        .bf-logo-head, .bf-image-head, .bf-document-head, .bf-press-head {
            margin: 10px 0 0 0;
        }

        .bf-logo-image, .bf-image-image, .bf-document-image, .bf-press-image {
            height: 128px;
            width: 200px;
            background-position: center center;
            background-repeat: no-repeat;
            -webkit-background-size: contain;
            -moz-background-size: contain;
            -o-background-size: contain;
            background-size: contain;
        }
    </style>
    <script type="text/javascript">
    function brandfolder_loadScript(src, callback)
    {
      var s,r,t;
      r = false;
      s = document.createElement('script');
      s.type = 'text/javascript';
      s.src = src;
      s.onload = s.onreadystatechange = function() {
        //console.log( this.readyState ); //uncomment this line to see which ready states are called.
        if ( !r && (!this.readyState || this.readyState == 'complete') )
        {
          r = true;
          callback();
        }
      };
      t = document.getElementsByTagName('script')[0];
      t.parentNode.insertBefore(s, t);
    }

    function brandfolder_null() {
    }

    function brandfolder_resize() {
      jQuery("#brandfolder-embed-iframe").iframeHeight();
    }

    jQuery(document).ready(
      function () {
        if (jQuery(".brandfolder").length > 0){
          brandfolder_loadScript("//d2sdf28wg0skh3.cloudfront.net/bf.min.js", brandfolder_null);
        }

        if (jQuery("#brandfolder-embed-iframe").length > 0){
            brandfolder_loadScript("~/Content/js/iframeheight.js", brandfolder_resize);
        }
    });

    </script>
    <meta name="generator" content="Powered by Visual Composer - drag and drop page builder for WordPress." />
  
    <noscript>
    <style>
        .wpb_animate_when_almost_visible {
            opacity: 1;
        }
    </style></noscript>
</head>

<body class="page page-id-16099 page-template page-template-full_width page-template-full_width-php ajax_fade page_not_loaded  qode-theme-ver-6.6 wpb-js-composer js-comp-ver-4.4.3 vc_responsive">

    <div class="ajax_loader"><div class="ajax_loader_1"><div class="pulse"></div></div></div>
    <div class="wrapper">
        <div class="wrapper_inner">
            <!-- Google Analytics start -->
            <script>
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', '258-891-6529']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
            </script>
            <!-- Google Analytics end -->


            <header class=" scroll_header_top_area  stick transparent scrolled_not_transparent page_header">
                <div class="header_inner clearfix">

                    <div class="header_top_bottom_holder">
                        <div class="header_bottom clearfix" style=' background-color:rgba(239, 239, 239, 0.00);'>
                            <div class="container">
                                <div class="container_inner clearfix">
                                    <div class="header_inner_left">
                                        <div class="mobile_menu_button"><span><i class="fa fa-bars"></i></span></div>
                                        <div class="logo_wrapper">
                                            <div class="q_logo">
                                                <a href="~/Content/">
                                                    <img class="sticky" src="@Url.Content("~/Content/images/StickyUDC.png")" alt="Logo" />
                                                    <img class="normal" src="@Url.Content("~/Content/images/udc.png")" alt="Logo" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="header_inner_right">
                                        <div class="side_menu_button_wrapper right">
                                            <div class="side_menu_button">
                                            </div>
                                        </div>
                                    </div>

                                    <nav class="main_menu drop_down right">
                                        <ul id="menu-top_menu" class="">
                                            <li id="nav-menu-item-14759" class="menu-item menu-item-type-post_type menu-item-object-page  narrow"><a href="@Url.Action("Index","Home")" class=""><i class="menu_icon fa blank"></i><span>Home</span><span class="plus"></span></a></li>
                                            <li id="nav-menu-item-16090" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children  has_sub narrow">
                                                <a href="@Url.Action("Index","About")" class=""><i class="menu_icon fa blank"></i><span>WHO WE ARE</span><span class="plus"></span></a>
                                              
                                            </li>

                                         

                                            <li id="nav-menu-item-16088" class="menu-item menu-item-type-post_type menu-item-object-page  narrow"><a href="@Url.Action("Index","Services")" class=""><i class="menu_icon fa blank"></i><span>WHAT WE DO</span><span class="plus"></span></a></li>

                                            <li id="nav-menu-item-16087" class="menu-item menu-item-type-post_type menu-item-object-page  narrow"><a href="@Url.Action("List", "Gallery")" class=""><i class="menu_icon fa blank"></i><span>Our Projects</span><span class="plus"></span></a></li>

                                            <li id="nav-menu-item-14760" class="menu-item menu-item-type-post_type menu-item-object-page  narrow"><a href="@Url.Action("Index","Contract")" class=""><i class="menu_icon fa blank"></i><span>Find Us</span><span class="plus"></span></a></li>
                                        </ul>
                                    </nav>

                                    <nav class="mobile_menu">
                                        <ul id="menu-top_menu-1" class="">

                                            <li id="mobile-menu-item-14759" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="@Url.Action("Index","Home")" class=""><span>Home</span></a><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></li>

                                            <li id="mobile-menu-item-16090" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children  has_sub">
                                                <a href="@Url.Action("Index","Home")" class=" current "><span>WHO WE ARE</span></a><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span>
                                            
                                            </li>

                                           

                                            <li id="mobile-menu-item-16086" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="@Url.Action("Index","Services")" class=""><span>WHAT WE DO</span></a><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></li>

                                            <li id="mobile-menu-item-16087" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="@Url.Action("List", "Gallery")" class=""><span>Our Projects</span></a><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></li>

                                            <li id="mobile-menu-item-14760" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="@Url.Action("Index","Contract")" class=""><span>Find Us</span></a><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></li>

                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </header>

            <a id='back_to_top' href='#'>
                <span class="fa-stack">
                    <i class="fa fa-arrow-up" style=""></i>
                </span>
            </a>



            <div class="content ">

                <div class="content_inner  ">
                    <div class="title_outer animate_title_area" data-height="400" style="opacity:0;height:100px;">
                        <div class="title title_size_large  position_left has_fixed_background " style="background-size:1900px auto;background-image:url(images/services_header.jpg);height:400px;">
                            <div class="image not_responsive"><img src="~/images/services_header.jpg" alt="&nbsp;" /> </div>
                            <div class="title_holder" style="padding-top:43px;height:357px;">
                                <div class="container">
                                    <div class="container_inner clearfix">
                                        <div class="title_subtitle_holder">
                                            <div class="title_subtitle_holder_inner">
                                                <h1 style="color:#282828"><span>WHAT<br /> <font color="#9b865e"><b>WE DO</b></br></font></span></h1>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="full_width">
                        <div class="full_width_inner">






                            <div class="vc_row wpb_row section vc_row-fluid" style=' text-align:left;'>
                                <div class=" full_section_inner clearfix">
                                    <div class="vc_col-sm-3 wpb_column vc_column_container ">
                                        <div class="wpb_wrapper">

                                        </div>
                                    </div>

                                    <div class="vc_col-sm-6 wpb_column vc_column_container ">
                                        <div class="wpb_wrapper">



                                        </div>
                                    </div>

                                    <div class="vc_col-sm-3 wpb_column vc_column_container ">
                                        <div class="wpb_wrapper">

                                        </div>
                                    </div>
                                </div>
                            </div><div class="vc_row wpb_row section vc_row-fluid grid_section" style='background-color:#ffffff; padding-top:87px; padding-bottom:70px; text-align:left;'>
                                <div class=" section_inner clearfix">
                                    <div class='section_inner_margin clearfix'>
                                        <div class="vc_col-sm-12 wpb_column vc_column_container ">
                                            <div class="wpb_wrapper">
                                                <div class="vc_row wpb_row section vc_inner vc_row-fluid" style=' text-align:left;'>
                                                    <div class=" full_section_inner clearfix">
                                                        <div class="vc_col-sm-12 wpb_column vc_column_container ">
                                                            <div class="wpb_wrapper">



                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="vc_row wpb_row section vc_inner vc_row-fluid" style=' text-align:left;'>
                                                    <div class=" full_section_inner clearfix">


                                                        <style>
                                                            table, th, td {
                                                                border: 0px solid black;
                                                                border-collapse: collapse;
                                                            }

                                                            th, td {
                                                                padding: 5px;
                                                            }
                                                        </style>

                                                        </head>

                                                        <table style="width:100%">
                                                            <tr>
                                                                <td><h4><strong>Commercial</strong></h4></td>
                                                                <td><h4><strong>Residential</strong></h4></td>
                                                                <td><h4><strong>Fit out works</strong></h4></td>
                                                            </tr>
                                                            <tr>
                                                                <td><li>Hotels</li></td>
                                                                <td><li>Priavate Villas</li></td>
                                                                <td><li>Customized Furniture</li></td>
                                                            </tr>
                                                            <tr>
                                                                <td><li>Restaurants</li></td>
                                                                <td><li>Apartments</li></td>
                                                                <td><li>Lamp and Lanterns</li></td>
                                                            </tr>
                                                            <tr>
                                                                <td><li>Cafes</li></td>
                                                                <td></td>
                                                                <td><li>Outdoor Funiture</li></td>
                                                            </tr>
                                                            <tr>
                                                                <td><li>Offices</li></td>
                                                                <td></td>
                                                                <td><li>Wardrobes</li></td>
                                                            </tr>
                                                            <tr>
                                                                <td><li>Chain Outlets</li></td>
                                                                <td></td>
                                                                <td><li>Doors</li></td>
                                                            </tr>
                                                            <tr>
                                                                <td><li>Retail Shops</li></td>
                                                                <td></td>
                                                                <td><li>Etc.</li></td>
                                                            </tr>
                                                        </table>


                                                    </div>
                                                </div>



                                                <div class="vc_row wpb_row section vc_inner vc_row-fluid" style=' text-align:left;'>
                                                    <div class=" full_section_inner clearfix">
                                                        <div class="vc_col-sm-12 wpb_column vc_column_container ">
                                                            <div class="wpb_wrapper">

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>




                            <div class="vc_row wpb_row section vc_row-fluid grid_section" style=' text-align:left;'>
                                <div class=" section_inner clearfix">
                                    <div class='section_inner_margin clearfix'>


                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="content_bottom">
                    </div>

                </div>
            </div>

            @Html.Partial("_Foot")
    </div>
    </div>
    <script type='text/javascript' src='~/Content/js/cherry.lazy-load.js'></script>
    <script type='text/javascript' src='~/Content/js/device.min.js'></script>
    <script type='text/javascript' src='~/Content/js/jquery.mousewheel.min.js'></script>
    <script type='text/javascript' src='~/Content/js/jquery.simplr.smoothscroll.min.js'></script>
    <script type='text/javascript' src='~/Content/js/cherry.parallax.js'></script>
    <script type='text/javascript' src='~/Content/js/jquery.form.min.js'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var _wpcf7 = {"loaderUrl":"~/Content/images/ajax-loader.gif","sending":"Sending ..."};
/* ]]> */
    </script>
    <script type='text/javascript' src='~/Content/js/scripts.js'></script>

    <script type='text/javascript' src='~/Content/js/qode-like.js'></script>
    <script type='text/javascript' src='~/Content/js/plugins.js'></script>
    <script type='text/javascript' src='~/Content/js/jquery.carouFredSel-6.2.1.min.js'></script>
    <script type='text/javascript' src='~/Content/js/lemmon-slider.min.js'></script>
    <script type='text/javascript' src='~/Content/js/jquery.fullPage.min.js'></script>
    <script type='text/javascript' src='~/Content/js/jquery.touchSwipe.min.js'></script>
    <script type='text/javascript' src='~/Content/js/isotope.pkgd.min.js'></script>
    <script type='text/javascript' src='~/Content/js/TweenLite.min.js'></script>
    <script type='text/javascript' src='~/Content/js/ScrollToPlugin.min.js'></script>
    <script type='text/javascript' src='~/Content/js/smoothPageScroll.js'></script>
    <script type='text/javascript' src='~/Content/js/default_dynamic.php.js'></script>
    <script type='text/javascript' src='~/Content/js/default.min.js'></script>
    <script type='text/javascript' src='~/Content/js/custom_js.php.js'></script>
    <script type='text/javascript' src='~/Content/js/comment-reply.min.js'></script>
    <script type='text/javascript' src='~/Content/js/ajax.min.js'></script>
    <script type='text/javascript' src='~/Content/js/js_composer_front.js'></script>
    <script type='text/javascript' src='~/Content/js/jquery.flexslider-min.js'></script>
    <script type='text/javascript' src='~/Content/js/cherry-plugin.js'></script>
</body>
</html>